@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", serif;


}

header {
    padding: 50px 240px;
    background-color: rgb(255, 144, 14, 0.14);

}

.nav-title {
    font-size: 3rem;
    font-weight: 500;

}

.text-light-gray {
    color: #727272;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;


}

.baner-container {


    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.baner-title {
    font-size: 4rem;
    font-weight: 700;

}

.baner img {
    width: 100%;
    margin-top: 20px;
}

.btn-primarry {
    font-size: 1.4rem;
    width: 500;
    height: 750;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 20px 25px;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 50px auto;
}

.conatainer {
    display: flex;
    align-items: center;
    background-color: #f4e7fb;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;
}

.content {
    padding-left: 75px;
    padding-right: 75px;
}

.Features {
    color: orange;
    font-size: 1.4rem;
    width: 500;
}

.Reward-container {
    display: flex;
    justify-content: space-around;
}

.Reward-container .fact-img {
    border: 5px solid yellow;
    border-radius: 8px;
    text-align: center;
    padding: 30px 40px;
}

.facts-title {
    font-size: 1.5rem;
}

.sponsor-container {
    text-align: center;
}

.sponsor-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer-container {
    background-color: #f6bcba;
    text-align: center;


}

.Feather-section {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}



.all-feather {
    gap: 100px;

}




.experice {
    color: whitesmoke;
    background-color: orange;
    text-align: center;
    position: relative;
    bottom: 100px;
}











































@media screen and (max-width:576px) {
    header {
        padding: 23px;


    }

    nav,
    .Reward-container {
        flex-direction: column;
    }

    .conatainer {
        display: flex;
        flex-direction: column;

        flex-direction: column-reverse;
    }

    .img-container {
        display: grid;
        grid-template-columns: 1fr;



    }

    .sponsor-img {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        gap: 30px;


    }

    .Feather-section {
        display: flex;
        flex-direction: column;
    }




}

}

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 43px;


    }

    nav {
        flex-direction: column;
    }

    .conatainer {
        display: flex;
        flex-direction: column;



    }